.resume-container {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 25px;
    border-radius: 25px;
}

.resume-item {
    margin-left: 50px;
    padding: 10px 25px;
}

.resume-item h6 {
    font-size: 16px;
    color: white;
}

.resume-item h3 {
    font-size: 60px;
    font-weight: bold;
}