.bet-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.bet-info span {
    color: white !important;
    font-weight: bold !important;
    font-size: 18px !important;
}

.bet-info h4 {
    color: grey;
    font-size: 16px;
}

.bet-info h3 {
    display: inline;
    padding: 5px 20px;
    text-align: left;
    border-radius: 25px;
    color: greenyellow;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    font-weight: normal;
}

.bet-info span,
.bet-info h4 {
    width: 100%;
    text-align: left;
    /* Garante que o texto dentro dos elementos esteja alinhado à esquerda */
    white-space: nowrap;
    /* Impede que o texto quebre em várias linhas */
    overflow: hidden;
    /* Esconde qualquer texto que exceda a largura do elemento */
    text-overflow: ellipsis;
    /* Adiciona reticências (...) ao texto que excede a largura do elemento */
}

.selected {
    background-color: #5F1F31;
}